folium==0.5.0
geopy==1.16.0
numpy==1.15.0
pandas==0.23.4
pymongo==3.7.1
plotly==2.7.0
dash==0.24.1
dash-renderer==0.13.0
dash-html-components==0.11.0
dash-core-components==0.27.1
dash-auth==1.0.0
Flask
dash-table-experiments==0.6.0 
apscheduler
threaded==2.0.2
psycopg2==2.7.5
